<!DOCTYPE html>
<html lang="en" class="mdl-js">
	<head>
		{{ partial "head.html" . }}
	</head>
	<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {{ partial "header.html" . }}

      <div class="android-content mdl-layout__content">
        <a name="top"></a>
        <div class="agm-teaser mdl-typography--text-center">
					<img src="/images/schield.png" alt="" class="agm-logo">
          <div class="logo-font android-slogan">Angular Google Maps (AGM)</div>
          <div class="logo-font android-sub-slogan">Angular 2+ components for Google Maps</div>
        </div>
        <div class="homepage-example-code">
          <h2>Really easy to get started!</h2>
					<pre><code>
import { BrowserModule } from '@angular/platform-browser';
import { NgModule, Component } from '@angular/core';

import { AgmCoreModule } from 'agm_fit/core';

@Component({
  selector: 'app-root',
  styles: [`
    agm-map {
      height: 300px;
    }
  `],
  template: `
  &lt;agm-map [latitude]=&quot;lat&quot; [longitude]=&quot;lng&quot;&gt;&lt;/agm-map&gt;
  `
})
export class AppComponent {
  lat: number = 51.678418;
  lng: number = 7.809007;
}

@NgModule({
  imports: [
    BrowserModule,
    AgmCoreModule.forRoot({
      apiKey: 'YOUR_GOOGLE_MAPS_API_KEY'
    })
  ],
  declarations: [ AppComponent ],
  bootstrap: [ AppComponent ]
})
export class AppModule {}
						</code></pre>
        </div>
        <div class="android-wear-section">
          <div class="android-wear-band">
            <div class="android-wear-band-text">
              <div class="mdl-typography--display-2 mdl-typography--font-thin">Want to contribute? Found a bug?</div>
              <p class="mdl-typography--headline mdl-typography--font-thin">
                Contributions and Bug reports are very welcome! We accept Pull Requests on Github.
              </p>
              <p>
                <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" href="https://github.com/SebastianM/angular-google-maps">
                  Project on Github<i class="material-icons">chevron_right</i>
                </a>
              </p>
            </div>
          </div>
        </div>
        
        <div class="android-more-section">
          <div class="android-section-title mdl-typography--display-1-color-contrast">Companies using it...</div>
          <div class="android-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <a href="http://app.festa.la/home" target="_blank" style="cursor:pointer;"><img src="/images/company-logos/festa-la.png" style="padding-left:10px;width:221px;" width="221" height="147" alt="Festa Lá logo"></a>
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">Festa Lá</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
                  "Festa Lá" is a multiplatform entertainment solution whose main purpose is to inform about events, parties and concerts that will be held throughout the country.
                </span>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <a href="https://city-sightseeing.com" target="_blank" style="cursor:pointer;"><img src="/images/company-logos/city-sightseeing-logo.png" style="max-width: 231px" alt="City Sightseeing"></a>
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text"><a href="https://city-sightseeing.com" target="_blank" style="color: inherit;text-decoration: none;font-weight: inherit;">City Sightseeing Worldwide</a></h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
                  City Sightseeing is the world's number 1 hop-on hop-off bus tour provider; operating in more than 110 cities. Hop on and hop off as many times as you like at any of the bus stops on the route and see all the best sights and attractions that the town or city has to offer.
                </span>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <a href="http://decipher.com.au/" target="_blank" style="cursor:pointer;"><img src="/images/company-logos/decipher-logo.png" style="max-width: 221px;padding: 40px 10px 0 10px"></a>
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text"><a href="http://decipher.com.au/" target="_blank" style="color: inherit;text-decoration: none;font-weight: inherit;">Decipher</a></h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
                  Bring farm data to life. Decipher is an easy to use service with powerful insights to show crop variability and compare growth performance, track trends and organise information about the land. It simplifies the nutrition process to help farmers grow their productivity.
                </span>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <a href="http://aeologic.com/" target="_blank" style="cursor:pointer;"><img src="/images/company-logos/aeologic-logo.png" style="max-width: 231px"></a>
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text"><a href="http://aeologic.com/" target="_blank" style="color: inherit;text-decoration: none;font-weight: inherit;">AeoLogic</a></h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
                  AeoLogic Technologies is a software development organization focussed on providing intelligent software solutions. Our expertise in Mobile Application and Web development technologies will help you boost your targets exponentially. 
                </span>
              </div>
            </div>
          </div>
        </div>

        {{ partial "footer.html" . }}
      </div>
    </div>
	</body>
</html>

